{% extends 'base.html' %}
{% load static %}
{% block title %} My favourite artists {% endblock %}
{% block content %}
<div class="container pt-5">
    <h2>Artists</h2>
    <a href="{% url 'add_artist' %}" style="display: inherit; text-align: center; text-decoration: none; color: inherit; background-color: lightgreen; border-radius: 15px; padding: 4px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Add a new artist">➕</a>
    <table class="table table-striped table-hover" aria-describedby="Artists table">
        <thead>
            <tr>
            <th>Id.</th>
            <th>Artist</th>
            <th>Stage Name</th>
            <th>Country</th>
            <th>DoB</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for artist in object_list|dictsort:"name" %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td><a href="{% url 'update_artist' artist.id %}">{{ artist.name }}</a></td>
                <td>{{ artist.stage_name }}</td>
                <td>{{ artist.country }}</td>
                <td>{{ artist.dob }}</td>
                <td><a data-bs-toggle="tooltip" data-bs-placement="right" title="Delete artist" href="{% url 'delete_artist' artist.id %}" style="text-decoration: none; color: inherit;">❌</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_artist' %}" style="display: inherit; text-align: center; border-radius: 15px; text-decoration: none; color: inherit; padding: 4px; background-color: lightgreen;" data-bs-toggle="tooltip" data-bs-placement="top" title="Add a new artist">➕</a>
</div>
{% endblock %}